# Ignoring the actions runner folder
actions-runner/

# Ignoring venv folders
venv/

# Ignoring rendered files
pipeline/setup/docker-compose.yml

# Ignoring python cache
pipeline/utils/__pycache__/

# Ignoring MacOS files
.DS_Store

# Ignoring package compilation folders
packages/acl-rfs/load-dir/
packages/line-vty-rfs/load-dir/

# Ignoring test result files
packages/acl-rfs/tests/*.html
packages/acl-rfs/tests/*.xml
packages/line-vty-rfs/tests/*.html
packages/line-vty-rfs/tests/*.xml

# Ignoring artifacts in the mounted volume pipeline/preconfigs
pipeline/preconfigs/*.tar.gz