# Ignoring the actions runner folder
actions-runner/

# Ignoring venv folders
venv/

# Ignoring rendered files
pipeline/setup/docker-compose.yml

# Ignoring python cache
pipeline/utils/__pycache__/

# Ignoring MacOS files
.DS_Store