# Ignoring rendered files
docker-compose.yml
Dockerfile

#Ignoring NSO mounted volume files
ncs/ssh
ncs/ssl
ncs/ncs.crypto_keys

# Ignoring virtual environment .venv
.venv/

#Ignoring cache and build artifacts
__pycache__/
*load-dir/

# Ignoring imported NSO Python libraries
ncs-pyapi/

# Ignoring GitHub Actions runner
actions-runner/